In [1]:
import numpy as np
import pandas as pd
dic={'company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],'person':['SAM','CHARLIE','AMY','VANEESA','CARL','SARAH'],'Sales':[200,120,340,124,243,350]}
df=pd.DataFrame(dic)

In [18]:
x=df.groupby('company')
y=x.describe()
y.T

company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000