In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
x=np.array([1,2,3])
print(x.reshape(1,3))

[[1 2 3]]

In [4]:
lst=[1,2,3]
d=['ram','john','jack']
e={1:10,2:20,3:30}
x=pd.Series(e.values(),d)
y=pd.Series(e.keys(),d)
print(x,end='\n')
print(y,end='\n')

ram     10
john    20
jack    30
dtype: int64
ram     1
john    2
jack    3
dtype: int64

In [5]:
pd.Series(e.values(),d)
pd.Series(e.keys(),d)

ram     1
john    2
jack    3
dtype: int64

In [6]:
a=['a','b','c']
x=pd.Series(data=a)
y=pd.Series(a)
z=pd.Series(data=['1','2','3'])
print(x,y,z)

0    a
1    b
2    c
dtype: object 0    a
1    b
2    c
dtype: object 0    1
1    2
2    3
dtype: object

In [7]:
ser1=pd.Series([1,2,3,4],['USA','GERMANY','USSR','JAPAN'])
print(df1)

NameError: name 'df1' is not defined

In [ ]:
print(df1['USA'])
print(df1['GERMANY'])

In [ ]:
ser2=pd.Series([1,2,5,4],['USA','GERMANY','ITALY','JAPAN'])
print(ser1+ser2)

In [8]:
ser2=pd.Series([1,2,3,4],['Ram','shyam','john','jack'])
print(ser2)

Ram      1
shyam    2
john     3
jack     4
dtype: int64