In [1]:
import pandas as pd
import os
os.listdir()

['.idea',
 '.ipynb_checkpoints',
 'basics.ipynb',
 'bonus1.py',
 'bonus2.py',
 'bonus4.py',
 'GROUP_BY_STATMENT.ipynb',
 'main.py',
 'MISSING_VALUES.ipynb',
 'numpy_excersices.ipynb',
 'numpy_notes.ipynb',
 'numpy_operations.ipynb',
 'pandas_dataframes.ipynb',
 'PANDAS_DATAFRAME_3.ipynb',
 'pandas_series.ipynb',
 'pratice_notebook.ipynb',
 'salaries',
 'salaries_excersices.ipynb',
 'Untitled.ipynb',
 'venv']

In [9]:
## head of the data frame
df1=pd.read_csv('salaries')
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [10]:
## using info methods to generate how many members are there
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [11]:
## average base pay
average_base_pay=df1['BasePay'].mean()
average_base_pay

66325.4488404877

In [12]:
## highest overtimepay in the dataset
highest_overtime_pay=df1['OvertimePay'].max()
highest_overtime_pay

245131.88

In [49]:
##** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **
df1=pd.read_csv('Salaries')
df1.head()
df1[df1['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [59]:
##* What is the name of highest paid person (including benefits)?**
df1[df1['TotalPayBenefits']==df1['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [61]:
##** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

df1[df1['TotalPayBenefits']==df1['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [75]:
##** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **
x=df1.groupby('Year')
x['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [102]:
## no of unique job titles
x=df1.groupby('JobTitle')
df2=x['JobTitle']
df2['Count']=df

<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000203F0216710>

In [118]:
## ** What are the top 5 most common jobs? **
df1['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [129]:
## How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)
df1=pd.read_csv('Salaries')
x=df1[df1['JobTitle']==df1['JobTitle'].value_counts()==1]

ValueError: Can only compare identically-labeled Series objects