In [1]:
x='hello'

In [3]:
print(x)

hello

In [4]:
1+1

2

In [9]:
num=12
name='sam'
print('my name is {one} and my number is {number}'.format(one='sam',number=12))

my name is sam and my number is 12

In [18]:
s='hello'
print(s[0:2])
print(s[:])
print(s[::])
print(s[3:])

he
hello
hello
lo

In [19]:
my_list=[1,2,3]
my_list.append(4)

In [20]:
print(my_list)
my_list.insert()

[1, 2, 3, 4]

In [22]:
nest=[1,2,[3,4]]
a=[]
b=[1,2]
a+b

[1, 2]

In [26]:
d={1:'navtej',2:'john',3:'jack'}
d[4]='jacob'

{1: 'navtej', 2: 'john', 3: 'jack', 4: 'jacob'}

In [29]:
d2={'k1':{'innerkey':[1,2,3]}}
d2['k1']['innerkey'][1]

2

In [30]:
my_list=[1,2,3]
my_list='new'
print(list(my_list))

['n', 'e', 'w']

In [35]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [38]:
1<2 and 2>3

False

In [39]:
if True:
    if(1>2):
        print('hello')
    else:
        print('bye')

bye

In [40]:
if(1==2):
    print('True')
else:
    print(False)

False

In [42]:
d1={1:[0,1,2,3]}
d1[1][2]

2

In [43]:
seq=[1,2,3,4,5]
for i in range(1,6):
    print(i)

1
2
3
4
5

In [46]:
for i in seq:
    print(f'{i}:is the item')

1:is the item
2:is the item
3:is the item
4:is the item
5:is the item

In [47]:
x=[num**2 for num in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
y=[i for i in range(1,5)]
print(y)

[1, 2, 3, 4]

In [52]:
z=[i for i in range(1,5)]

In [53]:
print(z)

[1, 2, 3, 4]

In [55]:
def my_func(name):
    print('hello '+name)
my_func('navtej')

hello navtej

In [58]:
def square(num):
    return num*num
print(square(2))

4

In [59]:
square

In [60]:
def times2(var):
    return var*2
print(times2(2))

4

In [61]:
seq=[1,2,3,4,5]
x=list(map(times2,seq))
print(x)

[2, 4, 6, 8, 10]

In [62]:
t=lambda x:x*x
print(t(2))

4

In [63]:
x=list(map(lambda var:var*3,seq))
print(x)

[3, 6, 9, 12, 15]

In [64]:
print(seq)

[1, 2, 3, 4, 5]

In [67]:
x=filter(lambda var:var%2==0,seq)
print(list(x))

[2, 4]

In [69]:
s='hello lower my name'
s.capitalize()
s.title()
s.strip()
s.split()

['hello', 'lower', 'my', 'name']

In [72]:
tweet='go sports! #sports'
print(tweet.split('#')[1])

sports

In [73]:
lst=[1,2,3]
lst.pop()

3

In [74]:
print(lst)

[1, 2]

In [75]:
lst.pop()

2

In [76]:
print(lst)

[1]

In [78]:
if 2 in lst:
    print(True)
else:
    print(False)

False

In [79]:
'x' in ['x','y','z']

True

In [80]:
lst=[(1,2),(3,4),(5,6)]
for x,y in lst:
    print(x)

1
3
5

In [83]:
test='user@domain.com'
x=test.split('@')
x[1]

'domain.com'